@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-left > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.astronauta{
    width: 35vw;
}

.login-right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-login{

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.campo-login > h2{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.usuario-senha{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.usuario-senha > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.usuario-senha > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.usuario-senha > input::placeholder{
    color: #f0ffff94;
}

button{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}


@media only screen and (max-width: 950px){
    .campo-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        display: flex;
        flex-direction: column;
    }

    .login-left > h1{
        display: none;
    }

    .login-left{
        width: 100%;
        height: auto;
    }
    
    .login-right    {
        width: 100%;
        height: auto;
    }

    .astronauta{
        width: 50vw;
    }
    
    .campo-login{
        width: 90%;
    }
    
}